[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "public"]
	path = public
	url = https://github.com/hedstroem/hedstroem.github.io.git
	branch = main
